.gradle
/build/
target
flattened.xml
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
!.idea/
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
*.iws
*.iml
*.ipr
.flattened-pom.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store
