server:
  servlet:
    encoding:
      force: true

spring:
  cloud:
    compatibility-verifier:
      enabled: false
    nacos:
      discovery:
        enabled: true
        server-addr: ${nacos.config.server-addr}
        namespace: ${nacos.config.namespace}
        # group:
    sentinel:
      #启动后马上初始化，而不是等有流量有再初始化。否则会提示：Runtime port not initialized, won't send heartbeat
      eager: true
      transport:
        # 控制台地址
        dashboard: localhost:8080
        # 客户端监控API的端口，默认8719，与Sentinel控制台做交互。有规则变化会把规则数据push给这个Http Server接收,然后注册到sentinel中
        port: 8719
      # Sentinel Nacos数据源配置，Nacos中的规则会⾃动同步到sentinel控制台的流控规则中
      # com.alibaba.cloud.sentinel.SentinelProperties.datasource
      # 配置了数据源后，在nacos修改中会自动同步到sentinel
      # ⾃定义数据源名,随意不重复即可；可多个
      # The following values are valid:
      # AUTHORITY,DEGRADE,FLOW,GW_API_GROUP,GW_FLOW,PARAM_FLOW,SYSTEM
      datasource:
        flow:
          # 指定数据源类型
          nacos:
            server-addr: 127.0.0.1:8848
            data-id: ${spring.application.name}-flow-rules
            namespace: SENTINEL
            # 默认分组：DEFAULT_GROUP
            #group-id: SENTINEL_GROUP
            data-type: json
            rule-type: flow

seata:
  enabled: false

feign:
  httpclient:
    enabled: false
    max-connections: 200 # 线程池最大连接数，默认200
    time-to-live: 900 # 线程存活时间，单位秒，默认900
    connection-timeout: 2000  # 新建连接超时时间，单位ms, 默认2000
    follow-redirects: true # 是否允许重定向，默认true
    disable-ssl-validation: false # 是否禁止SSL检查， 默认false
    okhttp:
      read-timeout: 60s # 请求超时时间，Duration配置方式
  okhttp:
    enabled: true
  sentinel:
    enabled: true

xxl:
  job:
    accessToken: default_token
    admin:
      addresses: http://127.0.0.1:9084/macula-cloud-xxljob      # 调度中心部署跟地址 [选填]：如调度中心集群部署存在多个地址则用逗号分隔。 执行器将会使用该地址进行"执行器心跳注册"和"任务结果回调"；为空则关闭自动注册；
      #name: macula-cloud-xxljob                                 # 注册到注册中心的Admin的服务名称[选填]，默认是xxl-job-admin
    executor:
      #  appname: xxl-job-executor-sample                # 执行器AppName [选填]：执行器心跳注册分组依据；为空则关闭自动注册
      #  address:                                        # 服务注册地址,优先使用该配置作为注册地址 为空时使用内嵌服务 ”IP:PORT“ 作为注册地址 从而更灵活的支持容器类型执行器动态IP和动态映射端口问题
      #  ip:                                             # 执行器IP [选填]：默认为空表示自动获取IP，多网卡时可手动设置指定IP ，该IP不会绑定Host仅作为通讯实用；地址信息用于 "执行器注册" 和 "调度中心请求并触发任务"
      #  port: 9999                                      # 执行器端口号 [选填]：小于等于0则自动获取；默认端口为9099，单机部署多个执行器时，注意要配置不同执行器端口；
      logpath: ${user.home}/logs/${spring.application.name}    # 执行器运行日志文件存储磁盘路径 [选填] ：需要对该路径拥有读写权限；为空则使用默认路径；
      logretentiondays: 30                             # 执行器日志保存天数 [选填] ：值大于3时生效，启用执行器Log文件定期清理功能，否则不生效；

snail-job:
  # 任务调度服务器信息
  server:
    # 服务器IP地址（或域名）；集群时建议通过 nginx 做负载均衡
    host: 127.0.0.1
    # 服务器通讯端口（不是后台管理页面服务端口）
    port: 17888
  # 命名空间 【上面配置的空间的唯一标识】
  namespace: OMZct8jxKru5mfSaA_m7HQraaNn7jV4k
  # 接入组名【上面配置的组名称】注意: 若通过注解配置了这里的配置不生效
  group: ${spring.profiles.active}
  # 接入组 token 【上面配置的token信息】
  token: SJ_Wyz3dmsdbDOkDujOTSSoBjGQP1BMsVnj
  # 客户端绑定IP，必须服务器可以访问到；默认自动推断，在服务器无法调度客户端时需要手动配置
  # host: 127.0.0.1
  # 客户端通讯端口，默认 1789
  port: 17899


logging:
  level:
    root: INFO
    com.alibaba.nacos.client: ERROR
    dev.macula.example.task: DEBUG
  file:
    name: ${user.home}/logs/${spring.application.name}/${spring.application.name}.log