server:
  servlet:
    encoding:
      force: true

spring:
  cloud:
    compatibility-verifier:
      enabled: false
    nacos:
      discovery:
        enabled: true
        server-addr: ${nacos.config.server-addr}
        namespace: ${nacos.config.namespace}
        # group:
    sentinel:
      #启动后马上初始化，而不是等有流量有再初始化。否则会提示：Runtime port not initialized, won't send heartbeat
      eager: true
      transport:
        # 控制台地址
        dashboard: localhost:8080
        # 客户端监控API的端口，默认8719，与Sentinel控制台做交互。有规则变化会把规则数据push给这个Http Server接收,然后注册到sentinel中
        port: 8719
      # Sentinel Nacos数据源配置，Nacos中的规则会⾃动同步到sentinel控制台的流控规则中
      # com.alibaba.cloud.sentinel.SentinelProperties.datasource
      # 配置了数据源后，在nacos修改中会自动同步到sentinel
      # ⾃定义数据源名,随意不重复即可；可多个
      # The following values are valid:
      # AUTHORITY,DEGRADE,FLOW,GW_API_GROUP,GW_FLOW,PARAM_FLOW,SYSTEM
      datasource:
        flow:
          # 指定数据源类型
          nacos:
            server-addr: 127.0.0.1:8848
            data-id: ${spring.application.name}-flow-rules
            namespace: SENTINEL
            # 默认分组：DEFAULT_GROUP
            #group-id: SENTINEL_GROUP
            data-type: json
            rule-type: flow

seata:
  enabled: false

feign:
  httpclient:
    enabled: false
    max-connections: 200 # 线程池最大连接数，默认200
    time-to-live: 900 # 线程存活时间，单位秒，默认900
    connection-timeout: 2000  # 新建连接超时时间，单位ms, 默认2000
    follow-redirects: true # 是否允许重定向，默认true
    disable-ssl-validation: false # 是否禁止SSL检查， 默认false
    okhttp:
      read-timeout: 60s # 请求超时时间，Duration配置方式
  okhttp:
    enabled: true
  sentinel:
    enabled: true

xxl:
  job:
    accessToken: default_token
    admin:
      addresses: http://127.0.0.1:9084/macula-cloud-xxljob      # 调度中心部署跟地址 [选填]：如调度中心集群部署存在多个地址则用逗号分隔。 执行器将会使用该地址进行"执行器心跳注册"和"任务结果回调"；为空则关闭自动注册；
      #name: macula-cloud-xxljob                                 # 注册到注册中心的Admin的服务名称[选填]，默认是xxl-job-admin
    executor:
      #  appname: xxl-job-executor-sample                # 执行器AppName [选填]：执行器心跳注册分组依据；为空则关闭自动注册
      #  address:                                        # 服务注册地址,优先使用该配置作为注册地址 为空时使用内嵌服务 ”IP:PORT“ 作为注册地址 从而更灵活的支持容器类型执行器动态IP和动态映射端口问题
      #  ip:                                             # 执行器IP [选填]：默认为空表示自动获取IP，多网卡时可手动设置指定IP ，该IP不会绑定Host仅作为通讯实用；地址信息用于 "执行器注册" 和 "调度中心请求并触发任务"
      #  port: 9999                                      # 执行器端口号 [选填]：小于等于0则自动获取；默认端口为9099，单机部署多个执行器时，注意要配置不同执行器端口；
      logpath: ${user.home}/logs/${spring.application.name}    # 执行器运行日志文件存储磁盘路径 [选填] ：需要对该路径拥有读写权限；为空则使用默认路径；
      logretentiondays: 30                             # 执行器日志保存天数 [选填] ：值大于3时生效，启用执行器Log文件定期清理功能，否则不生效；

powerjob:
  worker:
    akka-port: 27777                                  # akka 工作端口，可选，默认 27777
    app-name: ${spring.application.name}              # 接入应用名称，用于分组隔离，推荐填写 本 Java 项目名称
    server-address: 127.0.0.1:7700                    # 调度服务器地址，IP:Port 或 域名，多值逗号分隔
    protocol: http                                    # 通讯协议，4.3.0 开始支持 HTTP 和 AKKA 两种协议，官方推荐使用 HTTP 协议（注意 server 和 worker 都要开放相应端口）
    store-strategy: disk                              # 持久化方式，可选，默认 disk
    max-result-length: 4096                           # 任务返回结果信息的最大长度，超过这个长度的信息会被截断，默认值 8192
    max-appended-wf-context-length: 4096              # 单个任务追加的工作流上下文最大长度，超过这个长度的会被直接丢弃，默认值 8192
    max-lightweight-task-num: 1024                    # 同时运行的轻量级任务数量上限
    max-heavy-task-num: 64                            # 同时运行的重量级任务数量上限


logging:
  level:
    root: INFO
    com.alibaba.nacos.client: ERROR
    dev.macula.example.task: DEBUG
  file:
    name: ${user.home}/logs/${spring.application.name}/${spring.application.name}.log