<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.service1.mapper.ApplicationMapper">

    <select id="listApplicationPages" resultType="${package}.service1.pojo.bo.ApplicationBO">
        SELECT
        id,
        application_name,
        ak,
        sk,
        homepage,
        code,
        access_path,
        manager,
        maintainer,
        mobile,
        create_time
        FROM
        application
        <where>
            <if test='queryParams.keywords !=null  and queryParams.keywords.trim() neq ""'>
                AND (application_name like concat('%',#{queryParams.keywords},'%')) OR
                (code like concat('%',#{queryParams.keywords},'%'))
            </if>
        </where>
    </select>
</mapper>
