#set( $symbol_dollar = '$' )
const decodeConfigValue = (value) => new TextDecoder().decode(
    Uint8Array.from(atob(value), (character) => character.charCodeAt(0))
)

const APP_CONFIG = {
    API_URL: "/api",
    IAM_URL: decodeConfigValue("${symbol_dollar}{ADMIN_IAM_URL_B64}"),
    OAUTH_CLIENT_ID: decodeConfigValue("${symbol_dollar}{ADMIN_OAUTH_CLIENT_ID_B64}"),
    OAUTH_CLIENT_SECRET: decodeConfigValue("${symbol_dollar}{ADMIN_OAUTH_CLIENT_SECRET_B64}"),
    OAUTH_SCOPE: decodeConfigValue("${symbol_dollar}{ADMIN_OAUTH_SCOPE_B64}"),
    DEMO_USERNAME: decodeConfigValue("${symbol_dollar}{ADMIN_DEMO_USERNAME_B64}"),
    DEMO_PASSWORD: decodeConfigValue("${symbol_dollar}{ADMIN_DEMO_PASSWORD_B64}")
}
