spring:
  cloud:
    nacos:
      discovery:
        enabled: true
        server-addr: ${nacos.config.server-addr}
        namespace: ${nacos.config.namespace}
        # group:
    sentinel:
      #启动后马上初始化，而不是等有流量有再初始化。否则会提示：Runtime port not initialized, won't send heartbeat
      eager: true
      transport:
        # 控制台地址
        dashboard: localhost:8080
        # 客户端监控API的端口，默认8719，与Sentinel控制台做交互。有规则变化会把规则数据push给这个Http Server接收,然后注册到sentinel中
        port: 8719
      # Sentinel Nacos数据源配置，Nacos中的规则会⾃动同步到sentinel控制台的流控规则中
      # com.alibaba.cloud.sentinel.SentinelProperties.datasource
      # 配置了数据源后，在nacos修改中会自动同步到sentinel
      # ⾃定义数据源名,随意不重复即可；可多个
      # The following values are valid:
      # AUTHORITY,DEGRADE,FLOW,GW_API_GROUP,GW_FLOW,PARAM_FLOW,SYSTEM
      datasource:
        flow:
          # 指定数据源类型
          nacos:
            server-addr: 127.0.0.1:8848
            data-id: ${spring.application.name}-flow-rules
            namespace: SENTINEL
            # 默认分组：DEFAULT_GROUP
            #group-id: SENTINEL_GROUP
            data-type: json
            rule-type: flow
    gateway:
      routes:
        - id: macula-example-consumer
          uri: lb://macula-example-consumer
          predicates:
            - Path=/consumer/**
          filters:
            - StripPrefix=1
  security:
    oauth2:
      resourceserver:
        opaquetoken:
          client-id: e4da4a32-592b-46f0-ae1d-784310e88423
          client-secret: secret
          introspection-uri: http://127.0.0.1:9010/oauth2/introspect
  sleuth:
    reactor:
      instrumentation-type: decorate_on_each
macula:
  gateway:
    security:
      only-auth-urls: /api/**

logging:
  level:
    root: info
    dev.macula.example.gateway: debug
    dev.macula.boot.starter.cloud.gateway: debug
  file:
    name: ${user.home}/logs/${spring.application.name}/${spring.application.name}.log
  #config: classpath:logback-skywalking.xml